.container {
  margin: 0 auto;
  padding: 20px;
  gap: 100px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.show-list-item {
  margin-bottom: 10px;
}

.show-summary-container {
  margin-top: 20px;
}

.show-summary {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 5px;
  width: 400px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ddd;
}
.show-card {
  display: flex;
  flex-direction: column;
}
